h2 {
  font-family: outfit;
  font-weight: 500;
  font-size: 30px;
  color: #312163;
}

.content-education {
  display: flex;
  width: 100%;
}

.content-container-cover2,
.content-container-cover3 {
  margin-top: 30px;
}

.content-topic {
  padding-bottom: 40px;
}

.experience {
  margin-bottom: 30px;
}
.content-experience {
  width: 90%;
  margin: 0 auto;
}

.content-organize-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
