.skills-grid-cover {
  display: grid;
  width: 100%;
  height: 100px;
  grid-template-columns: 1fr 1fr 2fr 1fr 3fr;
  grid-template-rows: 1fr;
  column-gap: 8px;
  margin-bottom: 30px;
}
.skills-grid-cover2 {
  display: grid;
  width: 100%;
  height: 100px;
  grid-template-columns: 1fr 1fr 1fr 3fr;
  grid-template-rows: 1fr;
  column-gap: 8px;
  margin-bottom: 30px;
}

.development {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.react {
  background-image: linear-gradient(
    180deg,
    rgb(255, 252, 247),
    rgb(245, 239, 255)
  );
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emotion1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.code-img {
  border-radius: 50%;
  width: 40%;
}

.emotion {
  display: grid;
  background-image: linear-gradient(
    180deg,
    rgb(255, 252, 247),
    rgb(245, 239, 255)
  );
  grid-template-columns: 1fr 1fr;
  border-radius: 7px;
  padding: 15px;
  text-align: center;
}

.get-line {
  border-left: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.git {
  background-image: linear-gradient(
    180deg,
    rgb(255, 252, 247),
    rgb(245, 239, 255)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

.html {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-image: linear-gradient(
    180deg,
    rgb(255, 252, 247),
    rgb(245, 239, 255)
  );
  border-radius: 7px;
  padding: 15px;
}

.get-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}

.canva {
  background-image: linear-gradient(
    180deg,
    rgb(245, 239, 255),
    rgb(236, 250, 255)
  );
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.autocad {
  background-image: linear-gradient(
    180deg,
    rgb(245, 239, 255),
    rgb(236, 250, 255)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}
.adobe {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-image: linear-gradient(
    180deg,
    rgb(245, 239, 255),
    rgb(236, 250, 255)
  );
  border-radius: 7px;
  padding: 15px;
}

p9 {
  font-family: dmsans;
  color: #516cf7;
}

p10 {
  font-family: dmsans;
  color: #9251f7;
}
