* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: rgb(228, 228, 228);
}

.App-body {
  width: 100vw;
}

.App-container {
  margin: 0 auto;
  width: 70%;
  display: flex;
}

.App-side-bar {
  width: 30%;
  background-image: linear-gradient(
    90deg,
    rgb(247, 255, 254),
    rgba(252, 250, 255)
  );
}

.App-content {
  width: 70%;
  background-color: white;
}

.App-content-cover {
  /* background-color: salmon; */
  width: 85%;
  margin: 50px auto;
}
