*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.side-bar {
  width: 30%;

}

.content {
  width: 70%;
  background-color: antiquewhite;
}